.experience__card {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.experience__card:last-child {
    margin-bottom: 10px;
}

.experience__title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.experience__title > span {
    font-weight: 800;
    letter-spacing: .3rem;
}

.experience__subtitle {
    line-height: 2rem;
    letter-spacing: .1rem;
}

.experience__subtitle > span {
    font-weight: 800;
}

.experience__front, .experience__back {
    margin: 5px 0;
}

.experience__back {
    padding: 0;
    padding-left: 15px;
    list-style: none;
}

.experience__back--item {
    position: relative;
}

.experience__back--item::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 50%;
    right: 100%;
    margin-right: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 540px) {
    .experience__card {
        width: auto;
        margin-left: 30px;
    }

    .experience__btn, #education .experience__title::before {
        position: absolute;
        top: 50%;
        right: 100%;
        margin: 0 10px;
        transform: translateY(-50%);
        border: 2px solid var(--primary-color);
        border-radius: 50%;
    }

    .experience__btn {
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    #education .experience__title::before {
        content: "";
        width: 10px;
        height: 10px;
    }

    #professional-experiences .experience__back {
        transform-origin: center top;
        transform: scaleY(.1);
        opacity: 0;
        transition: transform 400ms, opacity ease 400ms;
    }

    #professional-experiences .experience__back--active {
        transform: scaleY(1);
        opacity: 1;
    }
}