.publication__list {
    width: 95%;
    margin: 0 auto;
}

.publication__card {
    margin-bottom: 20px;
}

.publication__card:last-child {
    margin-bottom: 0;
}

.publication__info {
    position: relative;
}

@media only screen and (min-width: 540px) {
    .publication__card {
        margin-left: 10px;
    }

    .publication__info::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 100%;
        width: .25rem;
        height: .25rem;
        margin: 0 8px;
        background-color: var(--primary-color);
        transform: translateY(-50%);
        border: 2px solid var(--primary-color);
        border-radius: 50%;
    }
}