.section {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: calc(50% - var(--section-width) / 2);
    padding-right: calc(50% - var(--section-width) / 2);
    width: 100%;
}

.section:first-child {
    padding-top: 10px;
}

.section:last-child {
    padding-bottom: 10px;
}

.section__header {
    margin: 0 0 12px;
    padding: 0;
    width: 100%;
}

.section__icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    text-align: center;
}

.section__icon > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    width: 77%;
    height: 77%;
}


#contact .section__icon > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    height: 70%;
}

#professional-experiences .section__icon > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-53%);
    width: 72%;
    height: 72%;
}

.section__title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

.section__title > span {
    position: relative;
    display: inline-block;
    max-width: 200px;
}

.section__title > span::before, .section__title > span::after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 2px solid var(--primary-color);
    width: 100vw;
    margin: 0 5px;
}

.section__title > span::before {
    right: 100%;
}

.section__title > span::after {
    left: 100%;
}