.skill__grid {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill__elt {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-auto-rows: minmax(2.5rem, auto);
    column-gap: 10px;
    align-items: center;
    min-width: 250px;
    flex-grow: 1;
}

.skill__bar {
    position: relative;
    max-width: 220px;
    height: calc(1.5rem + 2px);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    overflow: hidden;
}

.skill__bar::after {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
}

.skill__level {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    transform-origin: right center;
    transform: translateX(-95%);
    transition: 450ms ease;
}

.skill__level::after {
    position: absolute;
    content: "";
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: calc(1.5rem + 1px) solid var(--primary-color);
}

@media only screen and (min-width: 577px) {
    .skill__grid {
        justify-content: space-between;
    }

    .skill__elt {
        flex-grow: 0;
    }
}

@media only screen and (min-width: 650px) {
    .skill__grid {
        justify-content: center;
    }

    .skill__elt {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 887px) {
    .skill__grid {
        justify-content: space-between;
    }

    .skill__elt {
        flex-grow: 0;
    }
}

@media only screen and (min-width: 960px) {
    .skill__elt {
        min-width: 275px;
    }
}

@media only screen and (min-width: 1000px) {
    .skill__elt {
        min-width: 300px;
    }
}

@media only screen and (min-width: 1170px) {
    .skill__elt {
        min-width: 330px;
    }
}