.skill__grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* display: grid;
    grid-template-columns: 1fr .88fr;
    grid-auto-rows: minmax(2rem, auto);
    gap: 1rem 10%;
    overflow: hidden; */
}

.skill__elt {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem; */
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-auto-rows: minmax(2.5rem, auto);
    column-gap: 10px;
    align-items: center;
}

.skill__bar {
    position: relative;
    max-width: 220px;
    height: calc(1.5rem + 2px);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    overflow: hidden;
}

.skill__bar::after {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
}

.skill__level {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    transform-origin: right center;
    transform: translateX(-95%);
    transition: 450ms ease;
}

.skill__level::after {
    position: absolute;
    content: "";
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: calc(1.5rem + 1px) solid var(--primary-color);
}