.softskills__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
}

.softskills__elt {
    position: relative;
    width: 8.2rem;
    height: 8.2rem;
    margin: 8px 14px;
    z-index: 1;
}

.softskills__name, .softskills__circle, .softskills__circle::before, .softskills__cache, .softskills__cache::before {
    position: absolute;
}

.softskills__name {
    top: 50%;
    left: 50%;
    width: 6.8rem;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.softskills__circle {
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 8rem;
    border-bottom: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);
    border-radius: 8rem 0 0 8rem;
    transform: translate(-100%, -50%) rotate(10deg);
    transform-origin: right center;
    transition: 460ms ease-in;
    z-index: 2;
}

.softskills__circle::before {
    content: "";
    width: calc(4rem - 2px);
    height: calc(8rem - 4px);
    top: -2px;
    right: calc(-100% - 2px);
    border-top: 1px solid var(--quaternary-color);
    border-right: 1px solid var(--quaternary-color);
    border-bottom: 1px solid var(--quaternary-color);
    border-radius: 0 8rem 8rem 0;
}

.softskills__cache {
    width: calc(4rem + 1px);
    height: calc(8rem + 2px);
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    background-color: var(--secondary-color);
    z-index: 3;
}

.softskills__cache::before {
    content: "";
    width: calc(4rem - 2px);
    height: calc(8rem - 4px);
    top: 2px;
    left: 2px;
    border-bottom: 1px solid var(--quaternary-color);
    border-left: 1px solid var(--quaternary-color);
    border-top: 1px solid var(--quaternary-color);
    border-radius: 8rem 0 0 8rem;
}

.softskills__level {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 8rem;
    width: 4rem;
    border-bottom: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);
    border-radius: 8rem 0 0 8rem;
    transform-origin: right center;
    opacity: 0;
    transform: rotate(-180deg);
    transition-property: opacity, transform;
    transition-duration: 100ms, 360ms;
    transition-timing-function: ease-out, ease-out;
    z-index: 4;
}