/* .container {
    max-width: 1400px;
    margin: 70px auto;
} */

.left {
    float: left;
    width: calc(40% - 2px);
}

.right {
    float: right;
    position: relative;
    width: 60%;
}

.right::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #262626;
}