.right {
    float: right;
    position: relative;
    width: 60%;
    margin: 70px 0;
}

.right::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #262626;
}