:root {
    --primary-color: #262626;
    --secondary-color: #fefefe;
    --tertiary-color: #00b0f0;

    --section-padding: 25px;
    --section-width: calc(100% - var(--section-padding) * 2);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4rem;
    background-color: var(--secondary-color);
}