:root {
    --primary-color: #262626;
    --secondary-color: #fefefe;
    --container-padding: 25px;
    --container-width: calc(100% - var(--container-padding) * 2);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4rem;
    background-color: var(--secondary-color);
}

#root {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}